// Ionic Variables and Theming, http://ionicframework.com/docs/theming/

// Font path is used to include ionicons, roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to includertl styles in your app, http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize you can override the Sass variables found in Ionic's source scss files.
// To view all Ionic variables see : http://ionicframework.com/docs/theming/overriding-ionic-variables/
$colors: (
  primary:    #9e9e9e,
  secondary:  #b3ffc8,
  danger:     #ff4b4b,
  light:      #f4f4f4,
  dark:       #222
);

// App Material Design Variables
// Material Design only Sass variables can go here:


// App Theme, apps can have different themes applied, which can then be future customized. 
//This import comes last so that the above variables are used and Ionic's default are overridden.
@import "ionic.theme.default";

//The premium icon font for Ionic,  http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";

// Fonts
@import "roboto";
@import "noto-sans";
