<ion-header>
  <ion-navbar>
    <ion-title>{{group.name}}</ion-title>
  </ion-navbar>
</ion-header>

<a ngIf="groupContentUrl" ngIf="!isTagGroupAdmin" href="{{groupContentUrl}}" target="blank">
  <button ion-button outline>Zobacz dane</button> 
</a>
<button ion-button outline *ngIf="isTagGroupAdmin" (click)="openPluginApp()">Udostępnij dane dla grupy</button>
<hr>
<button ion-button outline *ngIf="isTagGroupAdmin"(click)="addGroupMember(groupMember)">Dodaj tag do grupy</button>
<button ion-button outline *ngIf="isTagGroupAdmin"(click)="deleteGroupMember()">Usuń tag z grupy </button>
<button ion-button outline *ngIf="isTagGroupAdmin"(click)="deleteGroup()">Usuń grupę</button>