<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="group">
      Group: {{group.name}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows">Cancel</ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-item>
    <h2>Click button and view group data</h2>
    <p *ngIf="group">{{group.name}}</p>
    <p *ngIf="group">{{group.service}}</p>
    <hr>
    <a *ngIf="url" href="{{url}}" target="blank"><button ion-button outline>See data</button> </a>
  </ion-item>
</ion-content>